@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/* ===================== rest =====================  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  outline: none;
}

body {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #f4f4f6;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ===================== global style =====================  */

:root {
  /* Primary */
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  /* Light Theme */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Light-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Light-Grayish-Blue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Dark-Grayish-Blue: hsl(234, 39%, 85%);
  --Dark-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Very-Dark-Grayish: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-gray: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-black: hsl(237, 14%, 26%);
}



.font-weigth-400 {
  font-weight: 400;
}

.font-weigth-700 {
  font-weight: 700;
}